body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana;
    font-size: 16px;
}
a {
    text-decoration: none;
}
img {
    padding: 0;
    margin: 0;
    border: 0;
}
.zerobound {
    padding: 0;
    margin: 0;
    border: 0;
}
.fivebound {
    padding: 5px;
    margin: 0px;
}
.tenbound {
    padding: 10px;
    margin: 0px;
}
#blangkon {
    background: url('../img/transisi-mdpi.png') no-repeat;
    height: 480px;
    padding: 390px 0px 0px 0px;
    text-align: center;
}
#sinau {
    background: url('../img/bg-menumdpi.png') no-repeat;
    height: 480px;
    padding: 160px 0px 0px 0px;
    text-align: center;
}
#sejarah-content {
    background: url('../img/bg-halaman-sejarah.png') no-repeat 0px -41px;
    height: 439px;
    text-align: center;
}
#belajar-content {
    background: url('../img/bg-belajar-mdpi.png') no-repeat 0px -41px;
    height: 439px;
    text-align: center;
}
#menu-utama {
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu-utama li {
    margin: 0px 0px 15px 0px;
}
#menu {
    position: absolute;
    left: 0;
    top: 0;
}
.headbar {
    position: absolute;
    left: 45px;
    top: 0;
}