<div id="belajar">
    <div class="content">
        <ul class="menulist">
            <li>
                <a ng-click="go('/belajar/menu-1');">
                    <img src="img/mdpi/menu-b1.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-b1.png' ] ]" />
                </a>
            </li>
            <li>
                <a ng-click="go('/belajar/menu-2');">
                    <img src="img/mdpi/menu-b2.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-b2.png' ] ]" />
                </a>
            </li>
            <li>
                <a ng-click="go('/belajar/menu-3');">
                    <img src="img/mdpi/menu-b3.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-b3.png' ] ]" />
                </a>
            </li>
            <li>
                <a ng-click="go('/belajar/menu-4');">
                    <img src="img/mdpi/menu-b4.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-b4.png' ] ]" />
                </a>
            </li>
            <div style="margin-bottom:30px;"></div>
            <li>
                <a ng-click="go('/menu');">
                    <img src="img/mdpi/back.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/back.png' ] ]" />
                </a>
            </li>
        </ul>
    </div>
</div>
