<div id="menu">
    <div class="content">
        <ul class="menulist">
            <li class="animated bounceInUp">
                <a ng-click="go('/selayang');">
                    <img src="img/mdpi/menu-1.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-1.png' ] ]" />
                </a>
            </li>
            <li class="animated bounceInUp">
                <a ng-click="go('/belajar');">
                    <img src="img/mdpi/menu-2.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-2.png' ] ]" />
                </a>
            </li>
            <li class="animated bounceInUp">
                <a ng-click="go('/permainan');">
                    <img src="img/mdpi/menu-3.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-3.png' ] ]" />
                </a>
            </li>
            <li class="animated bounceInUp">
                <a ng-click="go('/bantuan');">
                    <img src="img/mdpi/menu-4.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-4.png' ] ]" />
                </a>
            </li>
        </ul>
    </div>
</div>
