<div id="permainan">
    <div class="content">
        <ul class="menulist">
            <li class="animated flipInY">
                <a ng-click="go('/permainan/menu-1');">
                    <img src="img/mdpi/menu-c1.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-c1.png' ] ]" />
                </a>
            </li>
            <li class="animated flipInY">
                <a ng-click="go('/permainan/menu-2');">
                    <img src="img/mdpi/menu-c2.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-c2.png' ] ]" />
                </a>
            </li>
            <li class="animated flipInY">
                <a ng-click="go('/permainan/menu-3');">
                    <img src="img/mdpi/menu-c3.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-c3.png' ] ]" />
                </a>
            </li>
            <div style="margin-bottom:30px;"></div>
            <li class="animated flipInY">
                <a ng-click="go('/menu');">
                    <img src="img/mdpi/back.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/back.png' ] ]" />
                </a>
            </li>
        </ul>
    </div>
</div>
