<div id="selayang">
    <div class="content">
        <ul class="menulist">
            <li>
                <a ng-click="go('/selayang-1');">
                    <img src="img/mdpi/menu-a1.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-a1.png' ] ]" />
                </a>
            </li>
            <li>
                <a ng-click="go('/selayang-2');">
                    <img src="img/mdpi/menu-a2.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-a2.png' ] ]" />
                </a>
            </li>
            <li>
                <a ng-click="go('/selayang-3');">
                    <img src="img/mdpi/menu-a3.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-a3.png' ] ]" />
                </a>
            </li>
            <li>
                <a ng-click="go('/selayang-4');">
                    <img src="img/mdpi/menu-a4.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-a4.png' ] ]" />
                </a>
            </li>
            <li>
                <a ng-click="go('/menu');">
                    <img src="img/mdpi/menu-back.png" ng-src-responsive="[ [ '(min-width: 479px)', 'img/hdpi/menu-back.png' ] ]" />
                </a>
            </li>
        </ul>
    </div>
</div>
