<div id="selayang">
    <div class="content">
        <ul class="menulist">
            <li class="animated flipInY">
                <a ng-click="go('/selayang/menu-1');">
                    <img src="img/mdpi/menu-a1.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-a1.png' ] ]" />
                </a>
            </li>
            <li class="animated flipInY">
                <a ng-click="go('/selayang/menu-2');">
                    <img src="img/mdpi/menu-a2.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-a2.png' ] ]" />
                </a>
            </li>
            <li class="animated flipInY">
                <a ng-click="go('/selayang/menu-3');">
                    <img src="img/mdpi/menu-a3.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-a3.png' ] ]" />
                </a>
            </li>
            <li class="animated flipInY">
                <a ng-click="go('/selayang/menu-4');">
                    <img src="img/mdpi/menu-a4.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/menu-a4.png' ] ]" />
                </a>
            </li>
            <li class="animated flipInY">
                <a ng-click="go('/menu');">
                    <img src="img/mdpi/back.png" ng-src-responsive="[ [ '(min-width: 480px)', 'img/hdpi/back.png' ] ]" />
                </a>
            </li>
        </ul>
    </div>
</div>
